@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    /* font-family: 'Segoe UI','Segoe UI Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Trebuchet MS', Verdana; */
    font-family: 'Wix Madefor Display', sans-serif;
}
:root{
    /* CSS HEX */
    --light-blue-sky:#77e1ff;
    --extra-light-blue-sky:#e8f7fc;
    --ghost-blue-sky:#bbf0fe;
    --light-orange:#fed9b7;
    --light-yellow: #fff3df;
    --khaki: #f5ebe0;
    --salmon: #e89467;
    --salmon-light: #e89467ab;
    --star-yellow:#ffbf69;
    --walnut-brown: #5e503fff;
    --folly: #ff38639d;
}
body{
    margin-bottom: 20%;
}
section{
    width: 100%;
    height: auto;
}
/* ESTILOS GENERALES*/
    h1,.schedule-title, .weather-design h3{
        letter-spacing: 3px;
    }
/*  INICIO: TASKS, FORM, BTNS */
.menu{
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 999;
    bottom: 0;
}
.menu ul{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--khaki)
}
.menu ul li{
    width: 25%;
    height: auto;
    list-style: none;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu .bx{
    font-size: 3em;
    text-decoration: none;
    color: var(--salmon);
}
.bx{
    cursor: pointer;
    color: var(--brown);   
    transition: .5s;
}
.menu .bx:hover{
    transition: .5s;
    filter: drop-shadow(1px 4px 15px var(--salmon));
    transform: translateY(-5px);
}

.container-task-plus{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-task-plus h1{
    width: 70%;
    margin: 30px 10px 0;
    text-align: left;
    font-size: 2.4em;
    font-weight: 300;
    color: var(--black);
}
.container-task{
    width: 100%;
    height: auto;
}
.container-task .empty{
    width: 100%;
    height: auto;

    text-align: center;
    margin-top: 100px;

    font-size: 3em;
    text-transform: uppercase;
    font-weight: bold;
    user-select: none;
    color: #00000032;
}
.container-task .task-list{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.task .text-task{
    width: 90%;
    padding: 10px;
}
.container-task .task-list .task{
    width: 80%;
    height: auto;
    margin: 15px 0;
    list-style: none;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--light-yellow);
    box-shadow: 3px 4px 2px var(--walnut-brown);
    transition: all 1.5s linear;
}
.container-task .task-list .task h2{
    width: 100%;
    height: auto;
    font-weight: 500;
    overflow-wrap: break-word;
}
.container-task .task-list .task p{
    width: 100%;
    height: auto;
    padding: 5px 0;
    font-size: large;
    overflow-wrap: break-word;
}
.container-task .task-list .task .bxs-trash-alt{
    width: 10%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
    border-radius: 0 5px 5px 0;
    color: var(--folly);
    background-color: var(--light-orange);
}
.container-task .task ul{
    height: auto;
    margin: 5px 0 0 20px;
    font-weight: 500;
}
.bxs-plus-circle{
    margin: 30px 10px 0;
    font-size: 4em;
    top: 60px;
    right: 0;
    color: var(--salmon);
}
.container-form-tasks,.container-form-evetns{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    width:100%;
    height: auto;
    padding: 10px;

    position: fixed;
    top: 0px;
    z-index: 1000;
    transition:all .5s linear;
    transform: translateY(-700px);
    background-color: var(--khaki);

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.visible{
    transform: translateY(0);
    transition:all .8s linear;
}
form .close-btn{
    width: 100%;
}
form .bxs-x-circle{
    font-size: 8vw;
    color: var(--folly);
}
form label{
    width: 80%;
    text-transform: capitalize;
    text-align: left;
    font-weight: bold;
    margin: auto;
    text-align: center;
    font-size: 1.3em;
}
form input{
    width: 80%;
    padding: 8px;
    margin: 5px auto;
    border-radius: 5px;
    border: none;
    font-size: 1.1em;
    text-align: center;
}
.submit-container{
    width: 100%;
    height: auto;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
form input[type=submit]{
    width: 30%;
    padding: 5px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 3px 4px 2px var(--walnut-brown);
    background-color: var(--salmon-light);
}
img{
    width: 40%;
}
/* CALENDAR: CARD EVENTOS Y CALENDARIO*/
#calendar{
    width: 100%;
    height: auto;
    margin: 20px auto;
}
.events,.btns-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.btns-container button{
    width: 30%;
    height: auto;
    padding: 5px;
    margin: 20px 10px;
    border-radius: 5px;
    outline: none;
    border:none;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .5s;
    box-shadow: 3px 4px 2px var(--walnut-brown);
    background-color: var(--salmon-light);
}
.events .card-event-calendar{
    width: 70%;
    height: auto;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 3px 4px 2px var(--walnut-brown);
    font-weight: 500;
    transition: all 1s linear;
    background-color: var(--light-yellow);
    overflow-wrap: break-word;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.events .card-event-calendar h3{
    text-transform: capitalize;
}
.events .card-event-calendar h3,p,li{
    width: 100%;
    padding: 2px;
}
.events .card-event-calendar .bx-calendar-edit,.bx-x{
    font-size: 2em;
    margin: 10px;
    color: var(--salmon);
}
.events .card-event-calendar .bx-x{
    font-size: 2.4em;
}
.events .card-event-calendar ul{
    height: auto;
    margin: 5px 15px;
    font-weight: 500;
}
.btns-container button:hover, form input[type=submit]{
    transition: .5s;
    box-shadow: 1px 2px 1px var(--walnut-brown);
}
.schedule-title{
    width: 100%;
    text-align: center;
    font-size: 8vw;
    padding: 10px;
    font-weight: 300;
    color: var(--rich-black);
}
/* WEATHER: CARDS WEATHER */
.weather-title{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.weather-title span{
    font-weight: 200;
}
.weather-title h3{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 20px;
    font-size: xx-large;
    text-transform: capitalize;
}
.current-weather-info{
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 10px;

}
.current-weather-info p{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 10px 0 0 0;
    font-size: 1.3em;
}
.current-weather-info h2{
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    font-size: 2em;
}
.container-weather-img{
    width: 50%;
    height: auto;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 15px 0;
}
.container-weather-img img{
    width: 100%;
    height: auto;
    background-color: var(--light-blue-sky);
    border-radius: 100%;
}
.current-weather-info h3,.card-far-weather h2,.card-far-weather p {
    width: 100%;
    text-align: center;
    font-size: xx-large;
    font-weight: 500;
    text-transform: capitalize;
}
.current-weather-info .description-weather{
    font-size: large;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.current-weather-info h4{
    font-size: large;
    font-weight: 400;
    text-transform: uppercase;
}
.current-weather-info ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;
}
.current-weather-info li{
    width:50%;
    margin: 10px 5px;
}
.current-weather-info #humd{
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 10px;
}
.current-weather-info li P{
    font-size: 2.2em;
    font-weight: 500;
}
.five-days-weather ul{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-far-weather{
    width: 30%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--extra-light-blue-sky);
}
.card-far-weather img{
    width: 80%;
    height: auto;
    margin: 5px;
    background-color: var(--ghost-blue-sky);
    border-radius: 100%;
}
.card-far-weather p{
    font-size: x-large;
    padding: 5px;
    font-weight: 400;
}
.card-far-weather .weather-time{
    font-weight: bold;
}
.add-event-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-event-btn .bxs-plus-circle{
    display: none;
}
#scheduler,#weather,#events-add-btn,#signout_button{
    display: none;
}

@media screen and (min-width:700px) {
    body{
        margin-bottom: 10%;
    }
    .menu .bx{
        font-size: 3.5em;
        text-decoration: none;
    }
    .container-task-plus{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container-task-plus h1{
        margin: 15px;
        font-size: 5vw;
    }
    .bxs-plus-circle{
        font-size: 6vw;
        margin: 20px 0;
    }
    .container-task h3{
        margin-top: 30px;
        font-size: 5vw;
    }
    .container-task .task-list .task{
        width: 60%;
    }
    form .bxs-x-circle{
        font-size: 4vw;
        margin: 0 50px;
    }
    form label{
        width: 30%;
        text-align: right;
        margin: 0;
    }
    form input{
        width: 60%;
        padding: 10px;
        margin: 5px auto;
    }
    form input[type=submit]{
        width: 15%;
        margin: 5px auto;
    }
    .container-task .task-list .task .bxs-trash-alt{
        font-size: 3vw;
    }
    #form-events{
        display: flex;
    }
    /*CALENDAR*/
    #calendar{
        width: 60%;
    }
    .schedule-title{
        font-size: 4vw;
    }
    .btns-container button{
        width: 15%;
    }
    .events .card-event-calendar{
        width: 40%;
        padding: 15px;
    }
    /* WEATHER */
    .current-weather-info{
        width: 55%;
    }
    .card-far-weather{
        width: 20%;
        margin: 10px;
    }
}
@media screen and (min-width:1000px){
    .container-task .task-list .task{
        width: 35%;
        display: flex;
        flex-wrap: wrap;
        margin: 20px;
    }
    .events .card-event-calendar{
        width: 30%;
        padding: 15px;
    }
    .container-weather-img img{
        width: 70%;
        height: auto;
        background-color: #77e1ff;
        border-radius: 100%;
    }
    .card-far-weather{
        width: 15%;
        margin: 10px;
    }
    .card-far-weather img{
        width: 70%;
        margin: 10px;
    }
}
@keyframes alert{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-5px);
    }
}

